@import 'bootstrap';

#tableLabel {
	text-align: center;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 20px;
}

.negCell {
	background-color: #fabf90;
}

.navbar-brand {
	padding: 0;
}
.navbar-orange {
	background-color: #f46523;
	border-color: #e7e7e7;
}
.orange-logo {
	/* original ratio is 1280 x 427 */
	width: 150px;
	height: 50px;
}

.navbar-black {
	background-color: #000000;
	border-color: #e7e7e7;
}
.black-logo {
	/* original ratio is 1280 x 427 */
	width: 150px;
	height: 50px;
}

.navbar-white {
	background-color: #ffffff;
	border-color: #e7e7e7;
}
.white-logo {
	/* original ratio is 400 x 93 */
	width: 215px;
	height: 50px;
}