<div class="container-fluid">
	<form>
		<div class="form-group">
			<label for="catValueInput">Value per CAT ($)</label>
			{{input type="text" class="form-control" id="catValueInput" value=catValue}}
		</div>
		<div class="form-group">
			<label for="catPakInput">CatPak System Cost ($)</label>
			{{input type="text" class="form-control" id="catPakInput" value=systemCost}}
		</div>
	</form>

	<p id="tableLabel">Gross ROI</p>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">cats/week</th>
				{{!-- TODO dynamic num weeks? --}}
				<th scope="col">1</th>
				<th scope="col">2</th>
				<th scope="col">3</th>
				<th scope="col">4</th>
			</tr>
		</thead>
		<tbody>
			{{#each rowList as |row|}}
			<tr>
				{{#each row as |roi|}}
					<td>{{ roi }}</td>
				{{/each}}
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>